@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

*{
    box-sizing: border-box;
    font-family: 'DotGothic16', sans-serif;
}

.container{
    position: relative;

    height: 70vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    text-align: center;
    font-size: 20px;
}

.card{
    position: relative;

    padding: 20px 30px;

    box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.5);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card .inputs{
    display: flex;
    flex-direction: column;
    gap: 15px;

    font-size: 18px;
}

.card .actions{
    display: flex;
    justify-content: center;
    gap: 15px;
}


